@model IEnumerable<WebProject.Models.shopping_cart>

@*@model IEnumerable<WebProject.ViewModel.CartViewModel>*@

@*@model WebProject.ViewModel.CartViewModel*@


@{
    var Account = HttpContext.Current.Session["Account"];
    //var CartItem = (List<String>)ViewBag.CartItem;
}


@{
    ViewBag.Title = "購物車";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mb-4">
    <div class="row col-10 mx-auto">
        <h3 class="pl-3 my-3 text-muted">購物車 Shopping Cart</h3>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 10%"> </th>
                            <th scope="col" class="pl-2">商品</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">數量</th>
                            <th scope="col" class="text-right">單價</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody class="">



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @*<img class="w-100" src="~/image/product/@item.shopping_cart.quantity" />*@
                                </td>
                                <td class="align-middle">
                                    <div>@item.product.product_name</div>
                                    <div>@item.product.product_description</div>
                                    <div>@item.product_quantity</div>



                                </td>
                                <td class="align-middle">In stock</td>
                                <td class="mx-auto align-middle">
                                    <input class="form-control text-center w-50 mx-auto" type="number" value="1" />
                                </td>
                                <td class="text-right align-middle">@*@Model.Products.Where(m => m.product_no == item.product_no).Select(m => m.product_price).FirstOrDefault() NT$*@</td>
                                <td class="text-right align-middle">
                                    <button class="btn btn-sm btn-light">
                                        <i class="fa fa-trash-alt p-1 text-danger"></i>
                                    </button>
                                </td>
                            </tr>

                        }

                        
                        @*<tr>
                            <td>
                                <img class="w-100" src="https://dummyimage.com/50x50/55595c/fff" />
                            </td>
                            <td>Title</td>
                            <td>In stock</td>
                            <td>
                                <input class="form-control" type="text" value="1" />
                            </td>
                            <td class="text-right">NT$33,90</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://dummyimage.com/50x50/55595c/fff" />
                            </td>
                            <td>Product Name Titi</td>
                            <td>In stock</td>
                            <td>
                                <input class="form-control" type="text" value="1" />
                            </td>
                            <td class="text-right">NT$70,00</td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>*@
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-4 align-middle">Sub-Total</td>
                            <td class="text-right align-middle">NT$ 255,90</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-4 align-middle">Shipping</td>
                            <td class="text-right align-middle">NT$  6,90</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-4 align-middle">
                                <strong>Total</strong>
                            </td>
                            <td class="text-right align-middle">
                                <strong>NT$ 346,90</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col my-2">
            <div class="row ">
                <div class="col-sm-12  col-md-12 d-flex justify-content-between ">
                    <button class="btn btn-lg btn-block btn-outline-secondary w-25" style="border-radius:10px!important; font-size:15px;"><i class="fas fa-arrow-left pr-2"></i>CONTINUE SHOPPING</button>
                @*</div>
                <div class="col-sm-12 col-md-6 col-auto">*@
                    <button class="btn btn-lg btn-block btn-success text-uppercase w-25" style="border-radius:10px!important; font-size:16px;">Checkout<i class="fas fa-arrow-right pl-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
