@model IEnumerable<WebProject.Models.product>

@{
    ViewBag.Title = "Fresh Bar";
}

<script>
    //$(function () {
    //    $("#show").click(function () {
    //        $("html, body").animate(
    //            {
    //                scrollTop: $("#new_arrival").offset().top
    //            },
    //            500
    //        );
    //    })
    //}

    function ScrollTo(show) {
        $('html,body').animate({
            scrollTop: $('#shoprow1').offset().top
        }, 700);
    }

</script>

<!-- header start -->
<div id="header" class="container-fluid ">
    <div class="row col-10 mx-auto h-100 justify-content-center">
        <div class="col-6 align-self-center text-center">
           
            <p>COMING SOON NEXT WEEK</p>

            <h1>Lorem ipsum dolor sit.</h1>
            <div id="spacer" class="mx-auto my-4"></div>

            <button type="button" id="show" class="btn py-2 px-3 blackbtn" onClick="javascript:ScrollTo('new_arrival')">SHOW NOW</button>
            <button type="button" id="learn" class="btn py-2 px-3 greenbtn">LEARN MORE</button>

        </div>
    </div>
</div>


<!-- header end -->
<div id="shop" class="container-fluid mt-0 ">
    <div id="shoprow1" class="row col-10 mx-auto">
        <!-- side bar start -->
        <div id="shop_sidebar" class="col-3 h-100">
            <div id="TOP SELLERS">
                <div class="w-100 bg-dark text-light py-2 px-3 mb-2">TOP SELLERS</div>

                <!-- side bar product units start -->
                <div id="sidebar_unit" class="px-2 pb-2">
                    <div class="row border-bottom pb-2">
                        <div id="sidebar_image" class="col-4">
                            <img class="w-100" src="img/product03.jpg">
                        </div>
                        <div id="sidebar_text" class="col py-2 px-1">
                            <p>Lorem, ipsum.</p>
                            <p class="py-1">$27.00</p>
                        </div>
                    </div>
                </div>

                <div id="sidebar_unit" class="px-2 pb-2">
                    <div class="row border-bottom pb-2">
                        <div id="sidebar_image" class="col-4">
                            <img class="w-100" src="img/product01.jpg">
                        </div>
                        <div id="sidebar_text" class="col py-2 px-1">
                            <p>Lorem, ipsum.</p>
                            <p class="py-1">$27.00</p>
                        </div>
                    </div>
                </div>

                <div id="sidebar_unit" class="px-2 pb-2">
                    <div class="row border-bottom pb-2">
                        <div id="sidebar_image" class="col-4">
                            <img class="w-100" src="img/product02.jpg">
                        </div>
                        <div id="sidebar_text" class="col py-2 px-1">
                            <p>Lorem, ipsum.</p>
                            <p class="py-1">$27.00</p>
                        </div>
                    </div>
                </div>

                <div id="sidebar_unit" class="px-2 pb-2">
                    <div class="row border-bottom pb-2">
                        <div id="sidebar_image" class="col-4">
                            <img class="w-100" src="img/product03.jpg">
                        </div>
                        <div id="sidebar_text" class="col py-2 px-1">
                            <p>Lorem, ipsum.</p>
                            <p class="py-1">$27.00</p>
                        </div>
                    </div>
                </div>

                <div id="sidebar_unit" class="px-2 pb-2">
                    <div class="row border-bottom pb-2">
                        <div id="sidebar_image" class="col-4">
                            <img class="w-100" src="img/product04.jpg">
                        </div>
                        <div id="sidebar_text" class="col py-2 px-1">
                            <p>Lorem, ipsum.</p>
                            <p class="py-1">$27.00</p>
                        </div>
                    </div>
                </div>
                <!-- side bar product units end -->
                <!-- Sale promo image-->
                <div class="mt-4">
                    <img class="w-100" src="img/thumb-product01.jpg" alt="" srcset="">
                </div>
            </div>

            <!-- second section -->
            <div id="todaydeals" class="mt-4">
                <div id="sidebar_title" class="w-100 bg-dark text-light py-2 px-3">TODAY DEALS</div>

                <img class="w-100" src="img/product05.jpg" alt="" srcset="">

                <div class="row ">
                    <div id="dealbox" class="col py-1 py-lg-2 pl-1 pl-lg-2">
                        <img class="w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" srcset="">
                        <div class="row w-100 h-100 text-center">
                            <div class="m-auto">
                                <h6 class="mb-0 mb-lg-1">507</h6>
                                <span>abcd</span>
                            </div>
                        </div>
                    </div>
                    <div id="dealbox" class="col py-1 py-lg-2 pl-1 pl-lg-2">
                        <img class="w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" srcset="">
                        <div class="row w-100 h-100 text-center">
                            <div class="m-auto">
                                <h6 class="mb-0 mb-lg-1">507</h6>
                                <span>abcd</span>
                            </div>
                        </div>
                    </div>
                    <div id="dealbox" class="col py-1 py-lg-2 pl-1 pl-lg-2">
                        <img class="w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" srcset="">
                        <div class="row w-100 h-100 text-center">
                            <div class="m-auto">
                                <h6 class="mb-0 mb-lg-1">507</h6>
                                <span>abcd</span>
                            </div>
                        </div>
                    </div>
                    <div id="dealbox" class="col py-1 py-lg-2 pl-1 pl-lg-2">
                        <img class="w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" srcset="">
                        <div class="row w-100 h-100 text-center">
                            <div class="m-auto">
                                <h6 class="mb-0 mb-lg-1 p-0">507</h6>
                                <span>abcd</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                    </div>

                </div>

                <div id="text" class="pl-1 pl-lg-2 pb-3">
                    <p class="h6">*****</p>
                    <p class="h4">Wood Something</p>
                    <P>
                        <s class="h6">99$</s>
                    </P>
                    <button class="btn py-2 px-3 mt-3 blackbtn">ADD TO CART</button>


                </div>

            </div>


        </div>


        <!-- side bar end -->
        <!-- shop main area start -->
        <div id="shop_main" class="col h-100">
            <!-- highlighted product start -->
            @*<div id="hl-row" class="row">
                <div id="hl-card" class="col-7 row">
                    <div class="col">
                        <img class="w-100" src="img/product06.jpg" alt="" srcset="">
                    </div>
                    <div class="col row align-items-center">
                        <div class="">
                            <div class="">NEW ARRIVALS</div>
                            <h3 class="mb-3">BLABLA TOLLKIT</h3>
                            <button class="framebtn px-3 py-1">LEARN MORE →</button>
                        </div>

                    </div>

                </div>
                <div id="hl-card" class="col ml-4">
                    <img class="w-100" src="img/product07.jpg" alt="" srcset="">
                </div>

            </div>*@
            <!-- highlighted product end -->



            <div class="py-4">
                <!-- title for the shop -->
                <h3>PPPULAR IN OUR STORE</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>



            <!-- prodoct -->

            <div id="product-row" class="row d-flex">


                @foreach (var item in Model)
                {
                    <div id="p-card" class="col-md-4 col-6">
                        <a href="#"><img class="w-100 float-left shadow" src="~/image/product/@item.product_image" alt="">
                        <div class="float-left w-100 row mt-3">
                            <p class="col-12 mx-auto text-center">@item.product_name</p>
                            <h3 class="col-12 mx-auto  text-center">@item.product_description</h3>
                            <p class="col-12 mx-auto text-center">@item.product_price $</p>
                        </div>
                        <div id="card_height" class=""></div></a>
                    </div>


                }




            </div>

            <!-- <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div> -->

        </div>


    </div>
    <div id="spacer" class="h-0 mx-auto"></div>

    <div id="shoprow2" class="row col-10 mx-auto mt-3">
        <div class="col row my-2 mr-2">
            <div class="col row align-items-center">
                <div class="mx-auto">
                    <h3>
                        DECOR
                        <br>Lorem, ipsum.
                    </h3>
                    <button class="framebtn py-2 px-3 mt-3">SHOP NOW →</button>
                </div>
            </div>
            <div class="col">
                <img class="w-100" src="img/product02.jpg" alt="">
            </div>
        </div>
        <div class="col row my-2 ml-2">
            <div class="col row align-items-center">
                <div class="mx-auto">
                    <h3>
                        WOODEN
                        <br>FOR A CUP OF TEA
                    </h3>
                    <button class="framebtn  py-2 px-3 mt-3">SHOP NOW →</button>
                </div>
            </div>
            <div class="col">
                <img class="w-100" src="img/product03.jpg" alt="">
            </div>
        </div>

    </div>

    <div id="spacer" class="h-0 mx-auto mt-3"></div>

    <div id="new_arrival" class="mt-5 col-10 mx-auto">
        <h3>NEW ARRIVALS</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <div id="shoprow3" class="row col-10 mx-auto mt-3">
        <div class="col text-center">
            <img class="w-100 mb-3" src="img/product04.jpg" alt="">
            <p>*****</p>
            <h4>Cup of Cofee</h4>
            <p>$123</p>
        </div>
        <div class="col text-center">
            <img class="w-100 mb-3" src="img/product05.jpg" alt="">
            <p>*****</p>
            <h4>Cup of Cofee</h4>
            <p>$123</p>
        </div>
        <div class="col text-center">
            <img class="w-100 mb-3" src="img/product06.jpg" alt="">
            <p>*****</p>
            <h4>Cup of Cofee</h4>
            <p>$123</p>
        </div>
        <div class="col text-center">
            <img class="w-100 mb-3" src="~/image/product/apple.jpg" alt="">
            <p>*****</p>
            <h4>Cup of Cofee</h4>
            <p>$123</p>
        </div>
        <div class="col text-center">
            <img class="w-100 mb-3" src="~/image/product/banana.jpg" alt="">
            <p>*****</p>
            <h4>Cup of Cofee</h4>
            <p>$123</p>
        </div>


    </div>



</div>

