


@{
    ViewBag.Title = "會員註冊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card bg-light mx-auto">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">註冊帳號</h4>
            <p class="text-center">Get started with fresh shopping expirence!</p>
            <form>

                <!-- form-group// -->
                <div class="form-group input-group my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input name="" class="form-control" placeholder="電子信箱" type="email">
                </div>
                <!-- form-group// -->

                <div class="form-group input-group my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <input name="" class="form-control" placeholder="姓名" type="text">
                </div>

                <!-- form-group// -->
                <div class="form-group input-group my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>

                    <input name="" class="form-control" placeholder="電話號碼" type="text">
                </div>
                <!-- form-group// -->

                <div class="form-group input-group my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="輸入密碼" type="password">
                </div>
                <!-- form-group// -->
                <div class="form-group input-group my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="請重複密碼" type="password">
                </div>
                <!-- form-group// -->
                <div class="form-group m-2 mx-auto">
                    <button type="submit" class="btn btn-primary btn-block mx-auto p-2" style="background-color: rgb(19, 197, 182); border : 0px"> 註冊帳號 </button>
                </div>
                <!-- form-group// -->
                <p class="text-center">
                    已經有帳號嗎?
                    <a href="" style="color: rgb(252, 159, 37)">點我登入</a>
                </p>
            </form>
        </article>
    </div>
    <!-- card.// -->

</div>

