@model IEnumerable<prjShoppingCar.Models.tProduct>

@{
    ViewBag.Title = "產品列表";
}
<!-- header start -->
<div id="header" class="container-fluid ">
    <div class="row col-12 mx-auto h-100 justify-content-center">
        <div class="col-6 align-self-center text-center">
            <p>COMING SOON NEXT WEEK</p>

            <h1>Lorem ipsum dolor sit.</h1>
            <div id="spacer" class="mx-auto my-4"></div>

            <button type="button" class="btn py-2 px-3 blackbtn">SHOW NOW</button>
            <button type="button" class="btn py-2 px-3 greenbtn">LEARN MORE</button>

        </div>
    </div>
</div>


<!-- header end -->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="~/images/@item.fImg" style="width:70%">
                <div class="caption">
                    <h2>@item.fName</h2>
                    <p>單價：@item.fPrice</p>
                    @if (Session["Member"] == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        <p><a href="@Url.Action("AddCar")?fPId=@item.fPId" class="btn btn-primary">加入購物車</a></p>
                    }
                </div>
            </div>
        </div>
    }



</div>