@{
    ViewBag.Title = "會員登入";
}

@*<h2>Member Login</h2>*@
<!-- Member Login start  -->
<div class="bg-light mx-auto" id="wrapper">
    <div class="container-fluid mx-auto bg-light" id="pa-10">
        <div class="row py-1 mx-auto justify-content-center" id="pa-10">
            @*<h1>Member Login</h1>*@
            <h1>會員登入</h1>
        </div>
    </div>
    <form class="pb-5" role="form" action="@Url.Action("Login")" method="post">
        <div class="wrapper bg-light ">
            <div class="container-fluid mx-auto " id="login">
                <div class="row col-10 justify-content-center align-items-center mx-auto" id="pa-10">
                    <label for="username">
                        <i class="fa fa-user fa-medium fa-lg"></i>
                    </label>
                    <div class="col-10">
                        <input type="text" class="form-control" id="fUserId" name="fUserId" required="required" placeholder="Username">
                    </div>
                </div>
                <div class="row col-10 justify-content-center align-items-center mx-auto" id="pa-10">
                    <label for="password" class="control-label fa-label ">
                        <i class="fas fa-lock fa-lg"></i>
                    </label>
                    <div class="col-10">
                        <input type="password" class="form-control" id="fPwd" name="fPwd" required="required" placeholder="Password">
                    </div>
                </div>
                <div class="row pl-1 col-10 mx-auto" id="pa-10">
                    <button id="submit" value="Log in" type="submit" class="btn btn-primary">Log in</button>
                    @ViewBag.Message
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Member Login end -->
